body {
    padding: 0px;
    margin: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
    margin-top: 25px;
}

#root {
    height: 100vh;
}

.drawer {
    width: 500px !important;
}

.delete-item {
    width: 50px;
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff5900;
    color: white;
}
.delete-item:hover {
    background-color: darkorange;
    transition: all 0.1s;
}