body {
    padding: 0px;
    margin: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
    margin-top: 25px;
}

#root {
    height: 100vh;
}