body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3b3b3b;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 500px;
}

input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    border-bottom: 1px solid lightgray;
    outline: none;
    color: white;
}

.input-div {
    margin: 30px 0px;
}

.button {
    width: 100%;
    padding: 7px;
    background-color: gold;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
}

.input-div-term {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#term {
    width: 20px;
    height: 12px;
}

.input-error {
    font-size: 15px;
    color: #cc5757;
}



